/* Estilos básicos y limpios */
body {
  font-family: sans-serif;
  background-color: #f8f9fa;
  /* Fondo gris claro estándar */
  color: #212529;
}

/* Ajustes simples para las cards */
.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  border: none;
  /* Sin borde para un look más limpio */
  transition: transform 0.2s;
  /* Pequeña animación al pasar el mouse */
}

.card:hover {
  transform: translateY(-5px);
  /* Se mueve un poco hacia arriba */
}

.card-img-top {
  height: 200px;
  object-fit: contain;
  /* Para que la imagen se vea completa sin recortarse */
  background-color: #ffffff;
  padding: 20px;
}

/* Estilos para los tipos de Pokemon */
.badge {
  font-size: 0.8em;
  padding: 8px 12px;
}

.type-grass {
  background-color: #78C850;
  color: white;
}

.type-poison {
  background-color: #A040A0;
  color: white;
}

.type-fire {
  background-color: #F08030;
  color: white;
}

.type-water {
  background-color: #6890F0;
  color: white;
}

.type-bug {
  background-color: #A8B820;
  color: white;
}

.type-normal {
  background-color: #A8A878;
  color: white;
}

.type-flying {
  background-color: #A890F0;
  color: white;
}